body {
    margin: 0;
    font-family: "Comfortaa", monospace;
  }
  /* for the top header */
  .header {
      position: sticky;
      top: 0;
      padding: 10px 16px;
      background: #004543;
      color: #f1f1f1;
  }

  .header a {
      text-decoration: none;
      color: #f1f1f1;
  }
  .header ul {
      list-style: none;
      display: flex;
      justify-content: start;
      align-items: center;
      column-gap: 20px;
  }
  .main {
      margin-left: 200px;
      margin-right: 200px;
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  #nm {
      color: white;
      border: none;
      background: none;

  }
  .main ul {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 20px;

  }
  .main a {
      text-decoration: none;
      color: black
  }
  .header button {
      border: 0;
      background: none;
      color: white;
      font-size: medium;
  }
  .header img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
  }
  .main #icon-list {
      font-size: 25px;
  }
  .header ul {
    font-size: 25px;
  }
  
  .hljs {
    font-family: "JetBrains Mono", monospace;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 10px 10px 6px lightblue;
  }
  a:hover {
    opacity: 70%;
  }

  @media screen and (max-width: 728px) {
    .header ul {font-size: 18px;}
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    .main {
      margin-left: 10px;
      margin-right: 10px;
    }
    .hljs {
      width: 350px;
      height: auto;
      /* this is a decent size on the phone */
      font-size: 14px;
    }
  }
